.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem 1rem;
  min-height: 100vh;
}

.homeWrapper {
  display: grid;
  gap: 20px;
  width: 100%;
  max-width: 100%;
  grid-template-columns: 1fr;
}

.filtersWrapper {
  width: 100%;
  padding-bottom: 24px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.typeFilter,
.searchFilter {
  width: 100%;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  min-width: 135px;
  margin: 0px 10px;
}

@media (min-width: 992px) {
  .homeWrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .typeFilter,
  .searchFilter {
    width: 24%;
  }

  .filtersWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
  }
}

@media (min-width: 1200px) {
  .homeWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1600px) {
  .homeWrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
