.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem 1rem;
  min-height: 100vh;
}

.homeWrapper {
  display: grid;
  gap: 20px;
  max-width: 100%;
  grid-template-columns: repeat(4, 1fr);
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  min-width: 135px;
  margin: 0px 10px;
}

@media (max-width: 1600px) {
  .homeWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1200px) {
  .homeWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 992px) {
  .homeWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 576px) {
  .homeWrapper {
    grid-template-columns: 1fr;
  }
}
