.myPokemons {
  padding: 2rem 1rem 1rem;
}

.myPokemonsHeader {
  margin-bottom: 20px;
  display: flex;
}

.myPokemonsWrapper {
  display: grid;
  gap: 20px;
  max-width: 100%;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1600px) {
  .myPokemonsWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1200px) {
  .myPokemonsWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 992px) {
  .myPokemonsWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 576px) {
  .myPokemonsWrapper {
    grid-template-columns: 1fr;
  }
}
