.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem 1rem;
  min-height: 100vh;
}

.typeWrapper {
  display: grid;
  gap: 20px;
  width: 100%;
  max-width: 100%;
  grid-template-columns: 1fr;
}

.typeHeader {
  padding-bottom: 24px;
  width: 100%;
  justify-content: flex-start;
}

.typeTitleWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.typeTitle {
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .typeWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .typeWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1600px) {
  .typeWrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
