.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem 1rem;
  min-height: 100vh;
}

.typeWrapper {
  display: grid;
  gap: 20px;
  width: 100%;
  max-width: 100%;
  grid-template-columns: 1fr;
}

.typeHeader {
  padding-bottom: 24px;
  width: 100%;
  justify-content: flex-start;
}

@media (min-width: 992px) {
  .typeWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .typeWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1600px) {
  .typeWrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
